{% extends 'base.html' %}

{% block start %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                        </div>

                        <div class="mb-3 text-center">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        <p>Don't have account? <a href="/register/">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
